{
  "env": {
      "browser": true,
      "es2021": true
  },
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier",
      "next"
  ],
  "plugins": [
      "react",
      "react-hooks",
      "@typescript-eslint", 
      "prettier",
      "@next/next"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      },
      {
        "usePrettierrc": true
      }
    ],
    "react/react-in-jsx-scope": "off",
    "camelcase": "error",
    "quotes": ["error", "double"],
    "no-duplicate-imports": "error",
    "max-len": 1,
    "@typescript-eslint/no-unnecessary-type-constraint": 0
  }
}
