{
  "extends": [
      "airbnb",
      "airbnb-typescript",
      // "eslint:recommended",
      // "plugin:react/recommended",
      "prettier",
      "plugin:prettier/recommended"
      // "next"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },  
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "react/require-default-props": "off",
    "react/no-array-index-key": "off",
    "no-underscore-dangle": "off",
    "@typescript-eslint/no-unused-vars": "warn"
    // "prettier/prettier": [
    //   "error",
    //   {
    //     "endOfLine": "auto"
    //   },
    //   {
    //     "usePrettierrc": true
    //   }
    // ],
    // "react/react-in-jsx-scope": "off",
    // "camelcase": "error",
    // "quotes": ["error", "double"],
    // "no-duplicate-imports": "error",
    // "max-len": 1,
    // "@typescript-eslint/no-unnecessary-type-constraint": 0
    
  }
}
